anywidget==0.9.7
bertopic==0.16.0
hdbscan==0.8.33
ipywidgets==8.1.2
langchain==0.1.5
numpy==1.23.5
openai==0.28.0
pandas==2.2.0
pathos==0.3.0
protobuf==4.25.2
PyYAML==6.0
tqdm==4.66.1
traitlets==5.14.1
jupyterlab_widgets==3.0.10
